main {
	margin-top: 90px;
}

header {
	position: fixed;
	top: 0;
	width: 99%;
	height: 100px;
	background-color: #fff;
	justify-content: space-between;
	align-items: center; 
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	display: flex;
  }

div.logo {
    float: left;
    width: auto;
    height: 100px;
}
    
nav {
	align-self: center;
	margin: 27px auto 0;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: rgb(102, 102, 0);
	border-radius: 8px;
	font-size: 0;
	line-height: 60px;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: rgb(204, 85, 0);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: rgb(204, 85, 0);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: rgb(204, 85, 0);
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: rgb(204, 85, 0);
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: rgb(204, 85, 0);
}


#header-img {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url('images/Mzuri-header.jpg');
    background-size: cover; 
}

.card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
}

.card {
	display: inline-block;
	width: auto;
	padding: 5px;
	background-color: rgb(255, 240, 224);
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 5px;
 }

  
.card h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
  
.card p {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	align-items: center;
	align-content: center;
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
  
.card a {
	text-align: center;
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
}
  
.card a:hover {
	background-color: #0062cc;
}

#content {
    padding: 10px;
	height: auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(255, 240, 224);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: rgb(153, 51, 0);
}

 #content.h2 {
    font-size: 42px!important;
    font-weight: 700;
    letter-spacing: 0px!important;
    line-height: 1.2!important;
    text-transform: none!important;
}

